.card {
  width: 900px;
  height: 300px;
  border: 1px solid whitesmoke;
  background-color: red;
}

.card-body {
  background-color: blue;
  padding: 30px;
}

.card-body-content {
  align-items: center;
  height: 100%;
  border-radius: 100%;
  background-color: white;
}
.card-body-content-detail {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}
